In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',sep=",",header=None)

In [3]:
df.columns=['age','workclass','fnlwgt','education','educationNum','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
engine = create_engine('sqlite:///myData.db')
df.to_sql('alchemynew', engine)

In [5]:
#update query
print(engine.execute('''UPDATE alchemynew SET income = '<30K'WHERE age=39 and workclass=' State-gov' and fnlwgt=77516 and education=' Bachelors' and educationNum=13'''))

<sqlalchemy.engine.result.ResultProxy object at 0x0000003DF5AE9278>

In [6]:
#after updating the record
print(engine.execute('''SELECT * FROM alchemynew
WHERE age=39 and workclass=' State-gov' and fnlwgt=77516
and education=' Bachelors' and educationNum=13 ''').fetchall())

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', '<30K')]

In [7]:
#update query2
print(engine.execute('''UPDATE alchemynew
SET income = '<30K'
WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9'''))

<sqlalchemy.engine.result.ResultProxy object at 0x0000003DF5AE9390>

In [8]:
#record after updating
print(engine.execute('''SELECT * FROM alchemynew
WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9''').fetchall())

[(2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', '<30K')]

In [9]:
#deleting the record
print(engine.execute('''DELETE FROM alchemynew
WHERE age=39 and workclass=' State-gov' and fnlwgt=77516
and education=' Bachelors' and educationNum=13'''))

<sqlalchemy.engine.result.ResultProxy object at 0x0000003DF5AE9470>

In [10]:
#after deleting record is empty
print(engine.execute('''SELECT * FROM alchemynew
WHERE age=39 and workclass=' State-gov' and fnlwgt=77516
and education=' Bachelors' and educationNum=13 ''').fetchall())

[]

In [11]:
#deleting the record
print(engine.execute('''DELETE FROM alchemynew
WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9'''))

<sqlalchemy.engine.result.ResultProxy object at 0x0000003DF5AE9320>

In [12]:
print(engine.execute('''SELECT * FROM alchemynew
WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9''').fetchall())

[]

In [13]:
#filer query using LIke
print(engine.execute('''SELECT * FROM alchemynew WHERE race LIKE ' W%' ''').fetchall())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)